<div class="pay" role="list">
  {%- if settings.social_tiktok != blank -%}<a href="{{ settings.social_tiktok }}">TikTok</a>{%- endif -%}
  {%- if settings.social_instagram != blank -%}<a href="{{ settings.social_instagram }}">Instagram</a>{%- endif -%}
  {%- if settings.social_pinterest != blank -%}<a href="{{ settings.social_pinterest }}">Pinterest</a>{%- endif -%}
  {%- if settings.social_facebook != blank -%}<a href="{{ settings.social_facebook }}">Facebook</a>{%- endif -%}
</div>
